@charset "utf-8";
/* CSS Document */

/* class title1 */

/* class title2 */

/* class menubutton*/

/* class text */

/* class line */

p{
	font-family: "Atkinson Hyperlegible" , "sans-serif";
	font-weight: 700; /* 400 = regular, 700 = bold */
	font-style: italic;
}