@charset "utf-8";
/* CSS Document */

/* 400 = regular, 700 = bold */

/* class title1 */

/* class title2 */

/* class menubutton*/

/* class text */

/* class line */

.logo-button{
	font-family: "Atkinson Hyperlegible" , "sans-serif";
	font-weight: 700; /* 400 = regular, 700 = bold */
	font-style: italic;
	font-size: 32pt;
	color: white;
	display: flex;
	
	/*
	grid-column: 1;
	grid-row: 1;
	*/
}

/*
.social-tab{
	font-family: "Atkinson Hyperlegible" , "sans-serif";
	font-weight: 400; 
	font-style: italic;
	font-size: 12pt;
	
	display: flex;
	justify-content: flex-end;
	align-content: space-around;
	background-color: grey;
}
*/

#top-bar {
	background-color: black;
	display: flex;
	justify-content:center;
	flex-flow: row nowrap;
	
	/*
	grid-template-columns: 30% 20% 40%;
	grid-template-rows: 100%;
	*/
}

#nav-bar {
	display: grid;
	grid-template-columns: 30% 20% 40%;
	grid-template-rows: 100%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	width: 500px
}